---
<h1 align = 'center'>Advance Python</h1> 

---

#### Age Calculator

In [33]:
birth_year = int(input("what is your birth year: "))

what is your birth year:  2004

In [37]:
print(type(birth_year))

<class 'int'>

In [41]:
age = 2025 - birth_year

In [45]:
print("you are" , age , "year old")

you are 21 year old

---
### Favourite Color Game

In [56]:
color = input("What is your favourit color")
print("Wow! " , color , "is a beautiful color!!!")

What is your favourit color beige

Wow!  beige is a beautiful color!!!

---
### Temperature Converter
##### Convert celcius to farnheit

In [70]:
celcius =int(input("What is the temperature today in celcius? "))
farenheit = (celcius * 9/5)+32
print("temperature in farenheit is: ",farenheit)

What is the temperature today in celcius?  31

temperature in farenheit is:  87.8

#### First Letter Extractor

In [77]:
word = input("Enter any word : \n")
print("first letter:",word[0])

Enter any word :
 muqadas

first letter: m

---
#### Name Length counter

In [90]:
name = input("Enter your Full Name: ")
print("Length of your name is" ,len(name))

Enter your Full Name:  muqadas shehzadi

Length of your name is 16

---
### Simple  Tip 
#### ask the amount of the bill and calculate the 10% to pay for the bill

In [97]:
bill = float(input("Enter your bill amount"))
tip = bill * 0.10
print("you should tip: " , tip)

Enter your bill amount 15000

you should tip:  1500.0

### Funny Nick Name Generator
#### Ask user for name as input()
#### Concatenate the user with "The Great" to the user

In [106]:
user_name = input("Enter your name")
print("Nick name : " , user_name + " the great")

Enter your name muqadas

Nick name :  muqadas the great

#### Word Tripler

In [122]:
word = input("Enter the word to make it triple")
print(word , word , word)

Enter the word to make it triple pencil

pencil pencil pencil