<h1 align = center>comprehnsice list and dictionaries</h1>

#### create a list of suqares , from 1 to 10 , return a list of suqare

In [28]:
#f l1 = list(range(1,11))
#for i in l1:
   #print('list osuqare is',i*i)
suqares = [l1**2 for l1 in range(1,11)]
print(suqares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Extract first letter

In [32]:
fruits = ['apple','banana','cherry']
first_letter = [fruit[0] for fruit in fruits]
print(first_letter)

['a', 'b', 'c']

#####  Filter out odd numbers
#### - From a list of numbers 1 to 20, keep only the even ones.

In [39]:
numbers = list(range(1,21))
even_numbers = [n for n in numbers if num % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [48]:
#even_numbers = [i for i in range(1,21)if i%2=0]
#print(even_numbers)
#cannot describe range and if else in one list comprehension.

#####  Map numbers to their squares
##### - From 1 to 5, create a dictionary like {1: 1, 2: 4, 3: 9, ...}

In [42]:
# dic = {
#     1:1,
#     2:4,
#     3:9,
#     4:16,
#     5:25
# }
suqare = {x:x**2 for x in range(1,6)}
print(suqare)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

##### . Map words to their lengths
##### - Given ["apple", "banana", "cherry"],
#####    return {"apple": 5, "banana": 6, "cherry": 6}.

In [54]:
fruits = ['apple','banana','cherry']
length = {fruit:len(fruit) for fruit in fruits}
print(length)

{'apple': 5, 'banana': 6, 'cherry': 6}

####  Remove vowels from strings
#### - From ["hello", "world"], return ["hll", "wrld"].

In [73]:

txt = ["hello" ,"world"]
vowels ='aeiouAEIOU'
remove_vowels = ["" .join([]) ]
print(remove_vowels)

['hello', 'world']

##### 7. Filter dict entries by value
##### - Given {"a": 10, "b": 20, "c": 30}, return only items with value > 15.

In [67]:
dictionary = {
    'a':10,
    'b':20,
    'c':30,
}
value = {key:value for key , value in dictionary.items() if value>15}
print(value)

{'b': 20, 'c': 30}

#### 8. Inverting a dictionary
#### - From {"a": 1, "b": 2, "c": 3}, return {1: "a", 2: "b", 3: "c"}.

In [69]:
dict1 = {'a':1,
        'b':2,
        'c':3}
inverted = {value:key for key,value in dict1.items()}
print(inverted)

{1: 'a', 2: 'b', 3: 'c'}

####  find palindrome

#### . 9 Find palindromes
#### - From ["madam", "apple", "racecar", "python"], return only the palindromes.

In [72]:
list2 = ["madam","apple","racecar","python"]
palindrome = [i for i in list2 if i == i[::-1]]
print(palindrome)

['madam', 'racecar']

In [74]:
words = ["hello", "world"]
vowels = "aeiouAEIOU"
no_vowels = [''.join(char for char in word if char not in vowels) for word in words]
print(no_vowels)

['hll', 'wrld']

In [ ]:
# we cannot run nested sets,