<h1 align= center>Loop Practice</h1>

for i in range(3):
    for j in range(0,10):
        print(f'{i} * {j} = {i*j}')

In [8]:
d = {
    'key1:': 'This is key1 value',
    'key2:': 'This is key2 value',
    'key3:': 'This is key3 value',
    'key4:': 'This is key4 value',
    'key5:': 'This is key5 value',
    'key6:': 'This is key6 value',
    'key7:': 'This is key7 value',
}
for key , value in d.items():
    print(key, value)

l = list(d.keys())
print(l)
l2 = sorted(l,reverse = True)
print("Reverse list is :",l2)

key1: This is key1 value
key2: This is key2 value
key3: This is key3 value
key4: This is key4 value
key5: This is key5 value
key6: This is key6 value
key7: This is key7 value
['key1:', 'key2:', 'key3:', 'key4:', 'key5:', 'key6:', 'key7:']
Reverse list is : ['key7:', 'key6:', 'key5:', 'key4:', 'key3:', 'key2:', 'key1:']

In [13]:
t = [(1,2),(3,4),(5,6),(7,8),(9,10)]
for a,b in t:
    print(a,b)

1 2
3 4
5 6
7 8
9 10

In [16]:
smoothie_fruits = ('bnana' , 'cherry' ,'mango', 'apple')
for a,b in enumerate(smoothie_fruits):
    print(a,b)

# enumerate function returns indexx and item both

0 bnana
1 cherry
2 mango
3 apple

#### print first 10 even numbers by using loops

In [23]:
for i in range(0,10):
    print(i*2)

0
2
4
6
8
10
12
14
16
18

#### Find the sum of numbers from 1 to 100.

In [30]:
sum1 = 0
for m in range(1,101):
    sum1+=m
print(sum1)

5050

In [29]:
total = 0
for i in range(1, 101):
    total += i

print("Sum from 1 to 100 is:", total)

Sum from 1 to 100 is: 5050

#### Count how many times a character appears in a string.

In [34]:
string1 = 'hey i am muqadas shehzadi. Python expert'
char_to_count = 'a'
count = 0
for char in string1:
    if char == char_to_count:
      count +=1
print(f"The character '{char_to_count}' appears {count} times.")

The character 'a' appears 4 times.

In [36]:
num = [1,1,1,3,4,5,6,7,8]
num_to_count = 3
count = 0
for num1 in num:
    if num1 == num_to_count:
        count+=1
print(f'the number {num_to_count} appeaars {count} times')

the number 3 appeaars 1 times

### Reverse a string using loops

In [42]:
string = 'Muqadas'
reverse_txt = ''
for i in string:
    reverse_txt = i + reverse_txt
print(reverse_txt)

sadaquM