# Assignment

### create variable and print

In [1]:
var  = 45.4
print(var)

45.4

#### swap two variables

In [7]:
a = 5
b = a 
print(b)

5

In [50]:
a = 5
b = 15
a , b = b , a
print('a =' , a)
print('b =' , b)

a = 15
b = 5

#### Assign three variables in one line

In [14]:
x , y , z = 'I' , 'am' , 'Muqadas'
print(x , end=' ')
print(y , end =' ')
print(z)

I am Muqadas

#### declare two strings and concatenate

In [21]:
string1 = 'Hello'
string2 = 'World'
print(f'{string1} {string2}')

Hello World

#### Increament a variable by 5

In [26]:
a = 10
a+=5
print(a)

15

#### check a data type

In [31]:
num = 3
num1 = 45.5
num3 = 'muqadas'
print(type(num) , num)
print(type(num1),num1)
print(type(num) ,num3)

<class 'int'> 3
<class 'float'> 45.5
<class 'int'> muqadas

#### convert a datatype into another

In [39]:
num = 89
num1 = str(num)
print(type(num1))
#we cannot convert a string into number but a number into string

<class 'str'>

#### create a variable and delete it

In [42]:
var4 = 76

In [44]:
dir()

['In',
 'Out',
 '_',
 '_11',
 '_13',
 '_15',
 '_16',
 '_18',
 '_2',
 '_20',
 '_22',
 '_23',
 '_25',
 '_27',
 '_28',
 '_3',
 '_30',
 '_32',
 '_33',
 '_34',
 '_36',
 '_38',
 '_4',
 '_40',
 '_41',
 '_43',
 '_5',
 '_6',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__pandas',
 '__session__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'dataframe_columns',
 'dataframe_hash',
 'dtypes_str',
 'exit',
 'get_dataframes',
 'get_ipython',
 'getpass',
 'hashlib',
 'import_pandas_safely',
 'is_data_frame',
 'json',
 'num',
 'num1',
 'num3',
 'open',
 'quit',
 'string1',
 'string2',
 'var',
 'var4',
 'x',
 'y',
 'z']

In [46]:
del(var4)

In [48]:
dir()

['In',
 'Out',
 '_',
 '_11',
 '_13',
 '_15',
 '_16',
 '_18',
 '_2',
 '_20',
 '_22',
 '_23',
 '_25',
 '_27',
 '_28',
 '_3',
 '_30',
 '_32',
 '_33',
 '_34',
 '_36',
 '_38',
 '_4',
 '_40',
 '_41',
 '_43',
 '_44',
 '_45',
 '_47',
 '_5',
 '_6',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__pandas',
 '__session__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'dataframe_columns',
 'dataframe_hash',
 'dtypes_str',
 'exit',
 'get_dataframes',
 'get_ipython',
 'getpass',
 'hashlib',
 'import_pandas_safely',
 'is_data_frame',
 'json',
 'num',
 'num1',
 'num3',
 'open',
 'quit',
 'string1',
 'string2',
 'var',
 'x',
 'y',
 'z']