# Assingment

#### split string after first comma

In [45]:
var = 'Hello, I am muqadas'
result = var.split(',' , 1)
print(result)

['Hello', ' I am muqadas']

#### create two variables and apply all math operations

In [54]:
var = 20
var_1 = 2
print('plus: ', var + var_1)
print('minus: ' ,var - var_1)
print('multiply: ',var * var_1)
print('division: ' ,var / var_1)
print('floor divison: ',var // var_1)
print('power of: ' ,var ** var_1)
print('modulus: ',var % var_1)

plus:  22
minus:  18
multiply:  40
division:  10.0
floor divison:  10
power of:  400
modulus:  0

#### calculate the area of the circle

In [47]:
radius = 4
area_of_circle = 2*3.14*4
print('Area of a circle', area_of_circle)

Area of a circle 25.12

#### convert temperature ( celcius to fahrenheit)

In [144]:
cel = 23
far=(cel*9/5)+32
print('temprature converted  celcius to fahrenheit', far,'F')

temprature converted  celcius to fahrenheit 73.4 F

#### check if two numbers are equal

In [59]:
a = 5
b = 5
if a == b:
    print('a is equal to b')
else:
    print('a is not aqual to be')

a is equal to b

In [61]:
a = 7
b = 8
a == b

False

#### Check two strings are equal

In [82]:
string1 = 'hello World'
string2 = 'Hello WorLd'
string1.lower() == string2.lower()

True

In [74]:
string3 = 'i am learning python'
string4  = 'mam is here to asist us'
if string3 == string4:
    print('both strings are same')
else:
    print('both strings are different')

both strings are different

#### find a greater number in a list

In [88]:
list_1 = ['a' , 'A' , 5 ,4 , 'T' , 't']
#find method is not available in lists

#### check if the the number is greater than or equal to anther

In [91]:
a = 5
b = 6
a >= b

False

#### compare user age for voting eligibility

In [98]:
user1_age = 23
user2_age = 34
elegibity = 22
user1_age == elegibity
user2_age == elegibity

False

#### check if two lists are equal

In [101]:
list_1 = [1,2,3,'a','b','c']
list_2 = [4,5,6,'d','e','f']
list_1 == list_2
#prints false due to different elements in lists

False

In [107]:
list_1 = [1,2,3,'a','b','c']
list_2 = [1,2,3,'a','b','c']
list_1 == list_2
#prints true due to same elements in lists

True

In [111]:
list_1 = [1,2,3,'a','b','c']
list_2 = [1,2,3,'a','b','c','d']
list_1 == list_2
#prints false due to length of list

False

#### check if a number is between 2 values

In [116]:
num = 12345
2 in num
# int data type is not iterable

TypeError: argument of type 'int' is not iterable

In [120]:
var = 'Muqadas'
print('u' in var)
#strings are iterable

True

In [126]:
list_3 = [1,2,3,4, 5,'a','b','c','d']
print(1 in list_3 )
#lists are iterable even in integr case

True

In [136]:
num = 21
if num > 10 and num < 20:
    print('yes number is between two values ')
else:
    print('The number is not between two values' )

The number is not between two values